*{
  padding: 0;
  margin: 0;
}
.container {
  background-image: linear-gradient(to right, #c37cb1, #b17bce);
  background-image: linear-gradient(50%, rgb(11, 10, 10) 50%, orange);
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.title {
  text-align: center;
  margin-top: 30px;
  height: 60px;
}


.title_flex {
  display: flex;
  justify-content: space-around;
}

.title_flex .content{
  border: 1px solid black;
  width: 200px;
  height: 120px;
  background-image: linear-gradient(to right, #621d51, #6a3487);
  background-image: linear-gradient(50%, rgb(11, 10, 10) 50%, orange);
  border-radius: 20px;
  color: white;
  text-align: center;
  
}

.title_flex .content h3 {
  margin-top: 20px    ;
}

.text {
  margin-top: 20px;
}

.text textarea {
  width: 1110px;
  height: 261px;
}

.footer button {
  background-color: rgb(52, 118, 184);
  color: white;
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 20px;
}